<div style="margin-top: 70px;">
  <pre>
    <u>Disclaimer</u>
    
    <b>Notice</b>
    Please read these terms and conditions carefully. By accessing this site and any pages thereof, you agree to be bound by
    the terms and conditions below. If you do not agree to the terms and conditions below, do not access this site or any pages thereof.
    
     
    
    <b>Copyight (c) Wheels4Hope. 2020. All Rights Reserved</b>
    Copyright in the pages and in the screens displaying the pages, and in the information and material therein and in their arrangement,
    is owned by Wheels4Hope Limited, unless otherwise indicated.
    
     
    
    <b>Trademarks</b>
    Wheels4Hope Limited and the logo are registered trademarks and service marks. Wheels4Hope Limited may also claim trademark and service
    mark rights in other marks contained in the pages.
    
     
    
    <b>Use of Information and Materials</b>
    The information and materials contained in these pages - and the terms, conditions, and descriptions that appear - are subject to 
    change. Not all products and services are available in all geographic areas. Your eligibility for particular products and services
    is subject to final Wheels4Hope Limited determination and acceptance. Investment products are not obligations of or guaranteed by 
    Wheels4Hope Limited. Investment services are not bank deposits or insured by any entity, and are subject to investment risks, including 
    possible loss of the principal amount invested.
    
     
    
    <b>No Warranty</b>
    The information and materials contained in this site, including text, graphics, links or other items - are provided "as is," "as available".
    Wheels4Hope Limited does not warrant the accuracy, adequacy or completeness s of this information and materials and expressly disclaims
    liability for errors or omissions in this information and materials. No warranty of any kind, implied, express or statutory, including 
    but not limited to the warranties of non-infringement of third party rights, title, merchantability, fitness for a particular purpose 
    and freedom from computer virus, is given in conjunction with the information and materials.
    
     
    
    <b>Limitation of Liability</b>
    In no event will Wheels4Hope Limited be liable for any damages, including without limitation direct or indirect, special, incidental, or 
    consequential damages, losses or expenses arising in connection with this site or use thereof or inability to use by any party, or in 
    connection with any failure of performance, error, omission, interruption, defect, delay in operation or transmission, computer virus 
    or line or system failure, even if Wheels4Hope limited, or representatives thereof, are advised of the possibility of such damages, losses 
    or expenses. Hyperlinks to other internet resources are at your own risk; the content, accuracy, opinions expressed, and other links provided 
    by these resources are not investigated, verified, monitored, or endorsed by Wheels4Hope Limited.
    
     
    
    <b>Submissions</b>
    All information submitted to Wheels4Hope Limited via this site shall be deemed and remain the property of Wheels4Hope Limited. Wheels4Hope Limited 
    shall be free to use, for any purpose, any ideas, concepts, know-how or techniques contained in information a visitor to this site provides 
    Wheels4Hope Limited through this site. Wheels4Hope Limited shall not be subject to any obligations of confidentiality regarding submitted 
    information except as agreed by the Wheels4Hope Limited, entity having the direct customer relationship or as otherwise specifically agreed 
    or required by law.
    
     
    
    <b>Code of Bank's Commitment</b>
    Banking Codes & Standards Board of India (BCSBI) Codes
     
    
    <b>EMI Amounts</b>
    Please note that this amort schedule provides only approximate principal and interest amounts, as it is calculated on an assumption of 
    360 days per year. Kindly do not consider this to be the final schedule, as the actual EMI amounts may vary basis actual number of days 
    in a month and 365 days in a year.
    
     
    
    <b>Additional Disclaimer</b>
    This e-mail is confidential. It may also be legally privileged. If you are not the addressee you may not copy, forward, disclose or use 
    any part of it. Internet communications cannot be guaranteed to be timely secure, error or virus-free. The sender does not accept liability
    for any errors or omissions. We maintain strict security standards and procedures to prevent unauthorized access to information about you.
    Wheels4Hope will never contact you by email or otherwise to ask you to validate personal information such as your user ID or password. The 
    contents of this mail are solely for informational purpose. Nothing contained herein shall constitute or be deemed to constitute an advice,
    invitation or solicitation to purchase any products/ services of Wheels4Hope. Wheels4Hope does not accept any responsibility for any errors whether
    caused by negligence or otherwise or for any loss or damage incurred by anyone in reliance on anything set out herein. The use of this 
    information is subject to the terms and conditions as specified by Wheels4Hope .You are receiving this email as information 
    regarding our products and services. The use of this information is subject to the terms and conditions governing to such respective products, 
    services and offers as referred herein above and specified by Wheels4Hope / third party from time to time. The images depicted herein are for 
    illustrative purposes only. The information set out herein may be subject to updates, completion, revision, verification and amendment and such
    information may change materially.
    
    If you have received this message in error, please delete it .Wheels4Hope does not accept any responsibility for any errors whether caused by 
    negligence or otherwise or for any loss or damage incurred by anyone in reliance on anything set out in this document. Wheels4Hope shall not be
    responsible for any loss, damage or other harm that may result from the use of third party's products / services.
    
    This id is used by the bank only for communication and promotional emails. Please do not reply to this mail as it is
    computer generated. For any further queries or information, click on <a href="contact-us">contact us</a>
    </pre>
</div>