<div style="margin-top: 70px;">
  <pre>
                     <h2><u>PRIVACY STATEMENT</u></h2>
   In the course of using this website, mobile applications or its custom extensions or availing the products and services vide the 
   online application forms and questionnaires, Wheels4Hope and its Affiliates may become privy to the personal information of its
   customers, including information that is of a confidential nature.
    
   Wheels4Hope is strongly committed to protecting the privacy of its customers and has taken all necessary and reasonable measures 
   to protect the confidentiality of the customer information and its transmission through the world wide web and it shall not be
   held liable for disclosure of the confidential information when in accordance with this privacy Commitment or in terms of 
   the agreements, if any, with the Customers.

   Wheels4Hope endeavours to safeguard and ensure the security of the information provided by the Customer. Wheels4Hope uses 128-bit
   encryption, for the transmission of the information, which is currently the permitted level of encryption in India. When the 
   information provided by the Customers is not transmitted through this encryption, the Customers' system (if configured accordingly) 
   will display an appropriate message ensuring the best level of secrecy for the Customer's information.

   The Customer would be required to cooperate with Wheels4Hope in order to ensure the security of the information, and it is recommended
   that the Customers necessarily choose their passwords carefully such that no unauthorised access is made by a third party. To make the
   password complex and difficult for others to guess, the Customers should use combination of alphabets, numbers and special characters 
   (like !, @, #, $ etc.). The Customers should undertake not to disclose their password to anyone or keep any written or other record of 
   the password such that a third party could access it.
   
   Wheels4Hope undertakes not to disclose the information provided by the Customers to any person, unless such action is necessary to:

   Conform to legal requirements or comply with legal process;
   Protect and defend Wheels4Hope's or its Affiliates' rights, interests or property;
   Enforce the terms and conditions of the products or services; or
   Act to protect the interests of Wheels4Hope, its Affiliates, or its members, constituents or of other persons.

  </pre>
</div>