<div class = "forgotPage">
  <p *ngIf = "showPopup1" class = "not">{{message}}</p>
 
  <div class = "forgotContainer">
    <div class = "page1">
  <i id ="lock" class="fa fa-unlock-alt" aria-hidden="true"></i>
    <p style = "padding:0; margin:0; font-size: 2rem; ">Forgot Password? </p>
    <p style = "padding:0; margin:0; margin-top:8px;margin-bottom: 25px;">You can reset your password here.</p>
      <form [formGroup] = "forgotPasswordForm" (submit) ="onSubmit()">
      <p class = "validate" *ngIf = "forgotPasswordForm.controls.email.errors && (forgotPasswordForm.controls.email.touched ||forgotPasswordForm.controls.email.dirty)">*Valid Email-Id required</p>
      <button class = "iconButton"> <i id = "icon" class="fa fa-envelope" aria-hidden="true"></i></button>  <input   type="email" placeholder="Enter your Email Id"  formControlName = "email"> <br>
      <button  class ="button" type="submit"  [disabled] = "forgotPasswordForm.invalid" *ngIf="button1" >Send OTP</button>
    </form>
    </div>



    <div class = "page1" >
      <form (submit)="otpSubmit()"  *ngIf = "show" [formGroup] = "otpForm" >
        <button class = "iconButton" > <i id = "icon" class="fa fa-share" aria-hidden="true"></i></button> <input type="password" placeholder="Enter OTP" formControlName = "OTP"> <br>
          <button  class ="button" type="submit" value="Submit" >Submit</button>
        </form>
  </div>
  
  <div class ="page1"> 
      <form (submit)="passSubmit()" *ngIf = "show1" [formGroup] = "passForm" > 
        <p class = "validate" *ngIf = "passForm.controls.pass.errors?.invalidPassword">Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
          letter and 1 number</p>
          <button class = "iconButton" >  <i id = "icon" class="fa fa-unlock" aria-hidden="true"></i></button><input type="password" placeholder="Enter New Password" formControlName = "pass"> <br> 
        <p class = "validate" *ngIf = "passForm.controls.repass.errors?.passwordMismatch">Passwords doesnot match</p>
        <button class = "iconButton">  <i id = "icon" class="fa fa-unlock" aria-hidden="true"></i>  </button><input type="password" placeholder="Confirm Password"  formControlName = "repass"> <br>
        <button  class ="button" type="submit" value="Submit" >Submit</button>
      </form>
  </div>

</div>
</div>


<div class = "statusPop" *ngIf = "showPopup2">
  <div class = "popContainer">
      <div>
         <p>Your password has been changed successfully.</p>
          <button class = "popButton" (click) = "removePop2()">Click OK!</button>
      </div>

  </div> 

</div>