.forgotPage{
    
    width:370px;
    margin: 120px auto;
    border:1px solid rgb(223, 219, 219);
    padding:2.5rem 2rem;
}

.validate{
    color:red;
    text-align: center;
}

#lock{
    font-size: 100px;
    color:rgb(53, 48, 48);
    margin-bottom: 20px;
}

.page1{
    text-align: center;
}

#icon{

color:rgb(95, 91, 91)
 
}
input{
    width: 300px;
    padding:0.5rem;
  margin-bottom: 15px;
  
}

.button:focus{
    outline: none;
}
.button{
    margin: 1rem 0;
    width:95%;
    padding:0.8rem;
    border:none;
    font-size:1.2rem; 
    background-color:  rgb(66, 138, 247);
    border-radius:8px;
    color:white
}
.iconButton{
    padding:0.5rem
}
.button:hover{
    background-color: rgb(20, 110, 245);
}

.not{
    text-align: center;
    color:red;
    font-size: 1.2rem;
    margin-bottom:1.25rem;
}

.statusPop{
    position: absolute;
    top:70px;
    background-color: rgba(0,0,0,0.2);
    height:200vh;
    width:99%;

}

.popContainer{

    width:50%;
    height:170px;
    margin:auto;
    margin-top:200px;
    background-color: white;
    padding:2rem;
    text-align: center;

}

.popButton{
    width:100%;
    background-color:rgb(20, 110, 245);
    border-radius: 10px;
    border-radius: 10px;
}

.popButton:hover{
    background-color: rgb(80, 140, 231);
    transform: scale(1);
    color:white;
    border:none;
    outline: none;
}