



<div class = "login">
    <div class = "top">
        <a href = "#">Home > </a>
        <a href = "app-login">Login</a>
    </div>

    <div class = "login-content">
        <div class = "loginA"><a href="admin-login">Admin Login</a><i id = "icon" class="fa fa-lock" aria-hidden="true"></i></div>
        <div class = "loginA"><a href = "user-login">User Login</a><i id = "icon"  class="fa fa-user" aria-hidden="true"></i></div>
        <div class = "loginB"><p>Not a Registered User ? <a href = "register">Sign Up</a></p></div>
    </div>
   
</div>
