<div style="margin-top: 70px;">
  
     <h2>ABOUT US</h2>
     
     Millions of Indians today are upwardly mobile, and on the move. Many are looking at having their own car 
     to reach their destination in time and in comfort. Now, the years of waiting and saving are over. A Car 
     loan will bring that dream of owning a vehicle within your reach. <br><br>

     So, Wheels4Hope is paving that way for the people all around the country.
     We offer easy car loans to both salaried and the self-employed. What’s more, we not only help you raise funds
     but also assist you in researching and finding your dream car. So what are you waiting for? Whether new or pre-owned,
     apply for a Car Loan today! <br><br>
     
     Our Core Values: <br>
     <div style="display: flex;">
        <div> 
          <img src="https://www.hdfcbank.com/content/api/contentstream-id/723fb80a-2dde-42a3-9793-7ae1be57c87f/25191b67-deee-4d6d-89c5-a8679114d134/Footer/About%20Us/overview/content/excellence.svg" alt=""> 
        <p style="padding: 0;margin: 0;">Excellence</p>
        </div>
         
        <div>
         <img src="https://www.hdfcbank.com/content/api/contentstream-id/723fb80a-2dde-42a3-9793-7ae1be57c87f/5451fda0-52d7-4a64-8897-ccf10ff2fce1/Footer/About%20Us/overview/content/Customer-focus.svg" alt=""> 
         <p style="padding: 0;margin: 0;">Customer Focus</p>
        </div>
         <div>
          <img src="https://www.hdfcbank.com/content/api/contentstream-id/723fb80a-2dde-42a3-9793-7ae1be57c87f/7af10d38-38e7-4808-b89c-731e52b95384/Footer/About%20Us/overview/content/people.svg" alt="">   
          <p style="padding: 0;margin: 0;">People</p>
        </div>
        <div>
         <img src="https://www.hdfcbank.com/content/api/contentstream-id/723fb80a-2dde-42a3-9793-7ae1be57c87f/95fa9851-c45e-4d7b-9be7-92606686b1a0/Footer/About%20Us/overview/content/Sustainability.svg" alt=""> 
         <p style="padding: 0;margin: 0;">Sustainability</p>
        </div>
     </div>
      
</div>