<div class = "main">

  
    <div class="slider">
     <img class = "image" width = 100% src = "https://www.bankofbaroda.in/writereaddata/Portal/CMS_Template_Banner/734_1_48_1_1_car-loan-banner.jpg">
      
    
     
    </div>
       <div class = "main2">
            <div class = "about">
             
                 <h1>"For as long as you are behind the wheel, you are free."<br>
               </h1>
               <p style = "text-align: center;">Vehicle financing at its best - Wheels4Hope</p>
            </div>
            <div class = "blogs">
              <div><a href = "emi-calculator">
                <p class ="p1"><i class="fa fa-calculator" aria-hidden="true"></i></p>
                <p class ="p2">Vehicle Loan EMI Calculator</p>
                <p class= "p3">Instantly calculate your monthly payment</p></a>
              </div>
              <div>
                <a href = "document">
                <p class ="p1"><i class="fa fa-book" aria-hidden="true"></i></p>
                <p class ="p2">Vehicle Loan Documentation</p>
                <p class= "p3">Quick,Easy and minimum documentation</p>
              </a>

              </div>
              <div>
                <a href = "FAQs">
                <p class ="p1"><i class="fa fa-comments" aria-hidden="true"></i></p>
                <p class ="p2">Vehicle Loan FAQs</p>
                <p class= "p3">Check the frequently asked questions</p>
              </a>
              </div>

            </div>

            <div class = "cards">


                <div class = "card">
                  <img src = "https://i.ytimg.com/vi/0X36AwfdNbE/maxresdefault.jpg">
                  <h3>Benefits of Applying for Online Vehicle Loan</h3>
                  <p>The advantages are many –

                    The most obvious is convenience, as it can be done quickly from the comfort of your home.
                    
                    Second, you can check out different lenders at the same....
                    
                  </p>
                  <button><a href = "first-card"> Read More</a></button>

                </div>

                <div class = "card">
                    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTuFuPjzV88pKOLAumgKy8E0z_SP705TrMfIQ&usqp=CAU">
                    <h3>How to get the online Vehicle loan in easy steps</h3>
                    <p>Why postpone the dream of buying a car when you can now get Car Loans at attractive interest
                      rates online? Check out this post to know how you can apply...
                       </p>
                    <button><a href = "second-card"> Read More</a></button>

                </div>
                <div class = "card">
                    <img src = "https://www.icicibank.com/managed-assets/images/blog/small/5-reasons-why-car-insurance-is-a-must-thumb.jpg">
                    <h3>Things to consider Before Applying for Vehicle Loans</h3>
                    <p>Investments you will ever make is to buy a car,
                      which is only second to buying a house. Most people look into....
                    </p>
                    <button><a href = "third-card"> Read More</a></button>

                </div>
            </div>
    
        </div>
      









</div>
